nav > * {
  margin: 0 4px;
}

.page-selector > span {
  margin: 0 4px;
}

.movies-list {
  margin-top: 16px;
}

.movie {
  margin: 8px 0;
}

label, input {
  display: flex;
}

.radio {
  display: inline;
}

.radio > input {
  display: inline;
}

button[type="submit"] {
  display: flex;
}

.search > label > input[type="text"] {
  display: inline;
  width: 250px;
  margin-left: 4px;
}

.search > label > input[type="number"] {
  display: inline;
  width: 80px;
  margin-left: 4px;
}